<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "My Site" }}</title>
    <meta name="description" content="{{ description | default: 'Personal website of Rony Herdian' }}">
    <meta property="og:title" content="{{ title | default: 'My Site' }}">
    <meta property="og:description" content="{{ description | default: 'Personal website of Rony Herdian' }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.13.1/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
    {% include "partials/header.html" %}
    {{ content }}
    {% include "partials/footer.html" %}
</body>

</html>